[Desktop Entry]
Name=AutoDepot
Comment=Fetch and run Steam depots automatically
Exec=
Icon=steam
Terminal=true
Type=Application
Categories=Game;Utility;
